{% assign education = site.data.data.education %}
{% if education %}
  {% if site.data.data.sidebar.education %}
  <div class="education-container container-block">

    <h2 class="container-block-title">{{ education.title }}</h2>

    <ol class="list-unstyled">
      {% for graduation in education.info %}
      <li class="item">
        <h3 class="degree">{{ graduation.degree }}</h3>
        <p class="meta">{{ graduation.university }}</p>
        <p class="time">{{ graduation.time }}</p>
      </li><!--//item-->
      {% endfor %}
    </ol>

  </div><!--//education-container-->
  {% else %}
  <section class="section educations-section" id="education" aria-labelledby="education-title">

    <h2 class="section-title" id="education-title">
      <span class="section-icon" aria-hidden="true"><svg class="icon"><use href="#i-graduation-cap" /></svg></span>
      {{ education.title }}
    </h2>

    <ol class="item-list list-unstyled">
      {% for graduation in education.info %}
      <li class="item">

        <div class="meta">
          <div class="upper-row">
            <h3 class="degree">{{ graduation.degree }}</h3>
            <div class="time">{{ graduation.time }}</div>
          </div><!--//upper-row-->

          <div class="university">{{ graduation.university }}</div>
        </div><!--//meta-->

        {% if graduation.details %}
        <div class="details">
          {{ graduation.details | markdownify }}
        </div><!--//details-->
        {% endif %}

      </li><!--//item-->
      {% endfor %}
    </ol>

  </section><!--//section-->
  {% endif %}
{% endif %}
