{% assign sidebar = site.data.data.sidebar %}
<header class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ sidebar.avatar | prepend: '/assets/images/' | relative_url }}"
      width="100" height="100" fetchpriority="high" decoding="async"
      alt="{{ sidebar.name }}, {{ sidebar.tagline }}" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <p class="tagline">{{ sidebar.tagline }}</p>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}

</header><!--//sidebar-wrapper-->
