{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section" id="skills" aria-labelledby="skills-title">
  <h2 class="section-title" id="skills-title">
    <span class="section-icon" aria-hidden="true"><svg class="icon"><use href="#i-wrench" /></svg></span>
    {{ skills.title }}
  </h2>

  <ul class="skillset list-unstyled">
    {% for skill in skills.toolset %}
    <li class="item">
      <h3 class="level-title">{{ skill.name }}</h3>
      <p class="level2-title">{{ skill.subnames }}</p>
    </li><!--//item-->
    {% endfor %}
  </ul>

</section><!--//skills-section-->
{% endif %}
